/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #3f2713c5;
    color: #333;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5a768a1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="date"],
form input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="checkbox"] {
    margin-right: 10px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

form button:hover {
    background-color: #555;
}

#total {
    font-size: 1.2em;
    margin: 20px 0;
    font-weight: bold;
}

.imagens {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imagens img {
    width: 30%;
    margin-bottom: 20px;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #333;
    color: #fff;
}

.api-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.api-item {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.api-item iframe {
    width: 100%;
    border: none;
}

aside {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

aside h3 {
    margin-bottom: 10px;
}

aside ul {
    list-style-type: none;
}

aside ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    .imagens img {
        width: 48%;
    }

    .api-item {
        flex: 1 1 100%;
    }
}

@media (max-width: 480px) {
    .imagens img {
        width: 100%;
    }

    form button {
        width: 100%;
        margin-bottom: 10px;
    }
}